---
name: Lint

on: [push, pull_request]

jobs:
  super-lint:
    name: Lint with Supper-Linter
    runs-on: ubuntu-latest

    steps:
      # Checks out a copy of your repository on the ubuntu-latest machine
      - name: Checkout code
        uses: actions/checkout@v2

      # Runs the Super-Linter action
      - name: Run Super-Linter
        uses: github/super-linter@v4
        env:
          DEFAULT_BRANCH: master 
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          # Fail on errors
          DISABLE_ERRORS: false
          # this is a bit too much for this repo
          VALIDATE_JSCPD: false
          # disable it for now
          VALIDATE_DOCKERFILE_HADOLINT: false
