---
name: Lint

on: pull_request

jobs:
  super-lint:
    name: Lint with Supper-Linter
    runs-on: ubuntu-latest

    steps:
      # Checks out a copy of your repository on the ubuntu-latest machine
      - name: Checkout code
        uses: actions/checkout@v5
        with:
          # Full git history needed to get proper list of changed files
          fetch-depth: 0

      # Runs the Super-Linter action
      - name: Run Super-Linter
        uses: github/super-linter@v6
        env:
          DEFAULT_BRANCH: master 
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          # Fail on errors
          DISABLE_ERRORS: false
          # this is a bit too much for this repo
          VALIDATE_JSCPD: false
          # disable it for now
          VALIDATE_DOCKERFILE_HADOLINT: false
          # disable this as well
          VALIDATE_CHECKOV: false
          # Not linting the CSS from Jupyter as we don't want to modify this
          # (so it's easy to track changes in casse it's needed)
          FILTER_REGEX_EXCLUDE: "single-user-eosc/eosc/custom.css"
